{{ define "main" }}
<ul id="posts">
{{- range .Pages }}
    <li>
        <a href="{{ .Permalink }}">
            {{ .Title }}
            <small><time>{{ .Date | time.Format (i18n "posts.date") }}</time></small>
        </a>
    </li>
    
{{- end }}
</ul>



<!-- WHY DOESN'T THIS WORK ??? -->
<h3>{{ $tags := (index $.Site.Data.tags .Title) }}</h3>
<p>

    <table>
        <thead><th>Key</th><th>Value</th></thead>
        <tbody>
        {{ $tags := (index $.Site.Data.tags .Title) }}
        {{ with $tags }}
            {{ range $k,$v := . }}
                <tr><td>{{ $k }}</td><td>{{ jsonify (dict "prefix" " " "indent" "  ") $v }}</td></tr>
            {{ end }}
        {{ end }}
        </tbody>
    </table>

</p>



<div>( _default\taxonomy - Kind='{{ .Kind }}' )</div>

{{ end }}
