{{ define "main" }}
<ul id="posts">
{{- range .Pages }}
    <li>
        <a href="{{ .Permalink }}">
            {{ if (index $.Site.Data.tags .Title).Title }}
                {{ (index $.Site.Data.tags .Title).Title }}
            {{ else }}
                {{ .Title }}
            {{ end }}
            <small><time>{{ .Date | time.Format (i18n "posts.date") }}</time></small>
        </a>
    </li>
    
{{- end }}
</ul>



<h3>Tag info</h3>
<p>

    <table class="zebra">
        <thead>
            <th>Key</th>
            <th>Value</th>
        </thead>
        <tbody>
        {{ $tags := (index $.Site.Data.tags .Title) }}
        {{ with $tags }}
            {{ range $k,$v := . }}
                <tr><td>{{ $k }}</td><td>{{ jsonify (dict "prefix" " " "indent" "  ") $v }}</td></tr>
            {{ end }}
        {{ end }}
        </tbody>
    </table>

</p>







<div>( _default\term - Kind='{{ .Kind }}' )</div>

{{ end }}
