{{ define "main" }}
<ul id="posts">
{{- range .Pages }}
    <li>
        <a href="{{ .Permalink }}">
            {{ .Title }}
            <small><time>{{ .Date | time.Format (i18n "posts.date") }}</time></small>
        </a>
    </li>
    
{{- end }}
</ul>



<h3>$tags := (index $.Site.Data.tags .Title)</h3>
<p>

    <table>
        <thead><th>Key</th><th>Value</th></thead>
        <tbody>
        {{ $tags := (index $.Site.Data.tags .Title) }}
        {{ with $tags }}
            {{ range $k,$v := . }}
                <tr><td>{{ $k }}</td><td>{{ jsonify (dict "prefix" " " "indent" "  ") $v }}</td></tr>
            {{ end }}
        {{ end }}
        </tbody>
    </table>

</p>


<h3>with (index $.Site.Data.tags .Title).Title</h3>
<p>
    {{ with (index $.Site.Data.tags .Title).Title }}
        {{ . }}
    {{ end }}

</p>


<h3>if (index $.Site.Data.tags .Title).Title</h3>
<p>
    {{ if (index $.Site.Data.tags .Title).Title }}
        if - .Title = {{ (index $.Site.Data.tags .Title).Title }}
    {{ else }}
        if - NO .Title
    {{ end }}

</p>


<h3>if (index $.Site.Data.tags .Title).Website</h3>
<p>
    {{ if (index $.Site.Data.tags .Title).Website }}
        if - .Website = {{ (index $.Site.Data.tags .Title).Website }}
    {{ else }}
        if - NO .Website
    {{ end }}

</p>


<h3>if (index $.Site.Data.tags .Title).DoesNotExits</h3>
<p>
    {{ if (index $.Site.Data.tags .Title).DoesNotExits }}
        if - .DoesNotExits = {{ (index $.Site.Data.tags .Title).DoesNotExits }}
    {{ else }}
        if - NO .DoesNotExits
    {{ end }}

</p>

<h3>if (index $.Site.Data.tags "NoSuchPage").Title</h3>
<p>
    {{ if (index $.Site.Data.tags "NoSuchPage").Title }}
        if - .Title = {{ (index $.Site.Data.tags "NoSuchPage").Title }}
    {{ else }}
        if - NO .Title
    {{ end }}

</p>






<div>( _default\term - Kind='{{ .Kind }}' )</div>

{{ end }}
