
        <div class="top-nav">
          <div class="logo">
            <a href="/">B2T</a>
          </div>
          <input id="menu-toggle" type="checkbox" />
          <label class='menu-button-container' for="menu-toggle">
            <div class='menu-button'></div>
          </label>
          <ul class="menu">
              <li><a href="/pages/">Pages</a></li>
              <li><a href="/tags/">Tags</a></li>
              <li><a href="/about/">About</a></li>
          </ul> 
        </div>