{{/* https://stackoverflow.com/questions/57234520/filter-table-columns-in-vanilla-javascript-with-multiple-inputs */}}
<script>
    function filterTable() {
        const query = q => document.querySelectorAll(q);
        const filters = [...query('th input')].map(e => new RegExp(e.value, 'i'));

        query('tbody tr').forEach(row => row.style.display = 
            filters.every((f, i) => f.test(row.cells[i].textContent)) ? '' : 'none');
    }
</script>    



<table class="zebra">
    <thead>
    <tr>
        <th>Title</th>
        <th>Desc</th>
        <th>Ports</th>
        <th>Env / Vol</th>
        {{/* <th>dump</th> */}}
    </tr>
    <tr>
        <th><input onkeyup="filterTable()" placeholder="Title... "></th>
        <th><input onkeyup="filterTable()" placeholder="Description..."></th>
        <th><input onkeyup="filterTable()" placeholder="Ports..."></th>
        <th><input onkeyup="filterTable()" placeholder="Environment / Volumes..."></th>
      </tr>
    </thead>
    <tbody>
    {{ $slateTitles := slice }}
	{{ range $key, $options := ( sort .Site.Data.portainer_templates.templates ".title" "asc" ) }}
        <tr>
            <td><strong>{{ $options.title }}</strong></td>
            <td style="vertical-align: top;">
                {{ $options.description | safeHTML}}
                {{ with $options.note | safeHTML }}<br /><br /><strong>Note:</strong> {{ . }}{{ end }}
                {{ with $options.image }}<br /><br /><strong>Image:</strong> <a href="https://hub.docker.com/r/{{ index ( split . ":" ) 0 }}">{{ . }}</a>{{ end }}

                {{ with $options.repository }}<br /><br /><a href="{{ $options.repository.url }}">Repository</a> &gt; <a href="{{ $options.repository.url }}/tree/master/{{ $options.repository.stackfile }}">{{ $options.repository.stackfile }}</a> {{ end }}

                {{ with $options.category }}<br /><br /><strong>Category:</strong> {{ delimit . ", " }}{{ end }}
                {{ with $options.categories }}<br /><br /><strong>Category:</strong> {{ delimit . ", " }}{{ end }}
                
            </td>
            <td>{{ range $p := $options.ports }}{{ $p }}<br />{{ end }}</td>

            <td style="vertical-align: top;">
                {{ range $e,$ee := $options.env }}
                    {{ with $ee.name }}{{.}}="{{ with $ee.set }}{{.}}{{else}}{{ with $ee.default }}{{.}}{{end}}{{end}}"{{ with $ee.label }} #{{.}}{{end}}{{end}}<br />
                {{ end }}

                {{ range $v,$vv := $options.volumes }}
                    <br />{{ with $vv.bind }}{{.}}:{{end}}{{ with $vv.container }}{{.}}{{end}}
                {{ end }}
            </td>

            {{/* <td><pre>{{ jsonify (dict "prefix" " " "indent" "  ") $options }}</pre></td> */}} 
        </tr>
    {{ end }}
    </tbody>
</table>
